        /* Your CSS styles can go here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0.5rem;
            background-color: rgb(250,250,250);
        }
        
        #home {
            
            background:white;
            margin:1rem;
            padding:1rem;
            border-radius: 25px;
            filter:drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
        }
        .parkeerplaatsen{
            
            display: flex;
            background:white;
            
            flex-wrap: wrap;
            
        }

        .parkeerplaatsen_groot{
            width:100%;
        }

        .parkeerplaatsen_medium{
            width:50%;
        }

        .parkeerplaatsen_klein{
            width:25%;
        }

        .parkeerplaatsen .wagen{
            border:1px solid white;
            box-sizing: border-box;
            margin-top:0.25rem;
            border-radius:4px;
            display: flex;
            justify-content: center;
            align-items: center;
            color:black;
            font-weight: 700;
        }
        .parkeerplaatsen .wagen:hover{
            cursor: pointer;
            filter:brightness(1.1);
        }

        .parkeerplaatsen_groot .wagen_groot{
            width:100%;
            height:50px;
            background:#21A67A;
        }

        .parkeerplaatsen_groot .wagen_normaal{
            width:50%;
            
            height:50px;
            background:#FEDC00;
        }

        .parkeerplaatsen_groot .wagen_klein{
            width:25%;
            height:50px;
            background:#0091FF;
        }

        .parkeerplaatsen_medium .wagen_normaal{
            width:100%;
            
            height:50px;
            background:#FEDC00;
        }

        .parkeerplaatsen_medium .wagen_mini{
            width:50%;
            height:50px;
            background:#0091FF;
        }

        footer{
            text-align: center;
        }

        .parkeerplaatsen_klein .wagen_mini{
            width:100%;
            height:50px;
            background:#0091FF;
        }